@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #f5f4f4;

    --card: #272424;
    --card-foreground: #f5f4f4;

    --popover: #272424;
    --popover-foreground: #f5f4f4;

    --primary: #f5f4f4;
    --primary-foreground: #242726;

    --secondary: #242627;
    --secondary-foreground: #f5f4f4;

    --muted: #242627;
    --muted-foreground: #d4d4d4;

    --accent: #1971c2;
    --accent-foreground: #7abbf8;

    --destructive: #db4d4d;
    --destructive-foreground: #f5f4f4;

    --border: #1c1e1f;
    --input: #242627;
    --ring: #d4d4d4;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
