@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f1e4ac;
    --foreground: #6d5f2d;

    --card: #f1e4ac;
    --card-foreground: #6d5f2d;

    --popover: #f1e4ac;
    --popover-foreground: #6d5f2d;

    --primary: #2b2828;
    --primary-foreground: #242726;

    --secondary: #242627;
    --secondary-foreground: #5c5a5a;

    --muted: #4c4939;
    --muted-foreground: #393725;

    --accent: #1971c2;
    --accent-foreground: #4a5e71;

    --destructive: #db4d4d;
    --destructive-foreground: #f5f4f4;

    --border: #8f8f8f;
    --input: #242627;
    --ring: #393725;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
