@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f1e4ac;
    --foreground: #6d5f2d;

    --card: #f1e4ac;
    --card-foreground: #6d5f2d;

    --popover: #f1e4ac;
    --popover-foreground: #ede3bb;

    --primary: #2b2828;
    --primary-foreground: #898983;

    --secondary: #47432f;
    --secondary-foreground: #cdc68f;

    --muted: #6e6a56;
    --muted-foreground: #2c2c2c;

    --accent: #1971c2;
    --accent-foreground: #bfdaf3;

    --destructive: #db4d4d;
    --destructive-foreground: #f5f4f4;

    --border: #8f8f8f;
    --input: #242627;
    --ring: #393725;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply !min-h-screen !min-w-full bg-background text-foreground;
  }
}
